
*{
margin:0;
padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: black;
  height: 60px;
}

.navbar-logo{
  cursor: pointer;
}

.navbar-logo h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #000000;
  font-family: 'Kaushan Script';
}

.navbar-actions button {
  background-color: transparent;
  border: 2px solid #1E56C3;
  color: #1E56C3;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.navbar-actions button:hover {
  background-color:#afbed2;
 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);

}

 